// color-red    热情/警示
$color-red-1: #FEF0EF;
$color-red-2: #FCDBD9;
$color-red-3: #FABEB9;
$color-red-4: #F79992;
$color-red-5: #F46E65;
$color-red-6: #F04134;
$color-red-7: #D73435;
$color-red-8: #BD2636;
$color-red-9: #A31837;
$color-red-10: #880A38;

// color-green  成功/通过/安全
$color-green-1: #EBF8F2;
$color-green-2: #CFEFDF;
$color-green-3: #A7E1C4;
$color-green-4: #76D0A3;
$color-green-5: #3DBD7D;
$color-green-6: #00A854;
$color-green-7: #00924C;
$color-green-8: #007B43;
$color-green-9: #00643B;
$color-green-10: #004C32;

// color-blue   专业/科技
$color-blue-1: #ECF6FD;
$color-blue-2: #D2EAFB;
$color-blue-3: #ADD8F7;
$color-blue-4: #7EC2F3;
$color-blue-5: #49A9EE;
$color-blue-6: #108EE9;
$color-blue-7: #0E77CA;
$color-blue-8: #0C60AA;
$color-blue-9: #09488A;
$color-blue-10: #073069;

// color-pink   典雅/明快/女性
$color-pink-1: #FEEFF5;
$color-pink-2: #FDD8E7;
$color-pink-3: #FCB8D3;
$color-pink-4: #FA90BA;
$color-pink-5: #F7629E;
$color-pink-6: #F5317F;
$color-pink-7: #DC277D;
$color-pink-8: #C11C7B;
$color-pink-9: #A71278;
$color-pink-10: #8C0776;

// color-orange 醒目/温暖
$color-orange-1: #FEF3EB;
$color-orange-2: #FDE3CF;
$color-orange-3: #FCCCA7;
$color-orange-4: #FAAF76;
$color-orange-5: #F78E3D;
$color-orange-6: #F56A00;
$color-orange-7: #D75000;
$color-orange-8: #B93600;
$color-orange-9: #991B00;
$color-orange-10: #7A0000;

// color-purple 高雅/浪漫
$color-purple-1: #F4F3FD;
$color-purple-2: #E4E2FA;
$color-purple-3: #CFCAF6;
$color-purple-4: #B3ACF2;
$color-purple-5: #948AEC;
$color-purple-6: #7265E6;
$color-purple-7: #6252CD;
$color-purple-8: #533EB4;
$color-purple-9: #42299A;
$color-purple-10: #321580;

// color-yellow 活力/提示
$color-yellow-1: #FFFAEB;
$color-yellow-2: #FFF3CF;
$color-yellow-3: #FFE9A7;
$color-yellow-4: #FFDD76;
$color-yellow-5: #FFCE3D;
$color-yellow-6: #FFBF00;
$color-yellow-7: #E09A00;
$color-yellow-8: #C17500;
$color-yellow-9: #A04F00;
$color-yellow-10: #802800;

// color-cyan   清新/冷静/结构化
$color-cyan-1: #EBF8F9;
$color-cyan-2: #CFEDF0;
$color-cyan-3: #A7DFE3;
$color-cyan-4: #76CDD3;
$color-cyan-5: #3DB8C1;
$color-cyan-6: #00A2AE;
$color-cyan-7: #008997;
$color-cyan-8: #00707F;
$color-cyan-9: #005667;
$color-cyan-10: #003C4E;

// color-grey   平稳/中性
$color-grey-1: #FBFBFB;
$color-grey-2: #F7F7F7;
$color-grey-3: #F5F5F5;
$color-grey-4: #E9E9E9;
$color-grey-5: #D9D9D9;
$color-grey-6: #BFBFBF;
$color-grey-7: #919191;
$color-grey-8: #5A5A5A;
$color-grey-9: #404040;
$color-grey-10: #222222;
